@font-face {
    font-family: HSDream-Regular;
    src: url('HSDream-Regular.otf');
}

@page { 
    margin: 0mm 5mm 0mm 5mm; 
    size: 105mm 148mm;
}
    

html {
    font-family: 'HSDream-Regular';
    background-color: white;
}

body {
    height: 145mm;
    width: 95mm;
    text-align: right; 
}

img {
    width: 20mm;
    height: 20mm;
}

#title{
    text-align: center;
    margin-top: -1px;
}

.sub_title{
    text-align: center;
}

#info_div{

    margin-top: -10px;
    height: 40px;
    width: 93mm;

    border: solid 1px;
    border-color: darkgrey;
    border-radius: 10px;
    background-color: lightgrey;

    
    padding-right: 5px;
}

.info{
    margin-top: -45px;
}

.table_content{
    border: 1px solid gray;
    border-collapse: collapse;

    min-width: 100%;
    width: 100%;
    direction: rtl;
    text-align: center;
    font-size: 10pt;
}

th{
    background-color: lightgray;
    border: solid gray;
    border-width: 0px 0px 1px 1px ;
    font-weight: bold;
}

.td_content{
    border: solid gray;
    border-width: 0px 0px 0px 1px ;
}

.table_sum{
    margin-top: 10px;

    border: 1px solid gray;
    border-collapse: collapse;

    min-width: 100%;
    width: 100%;
    direction: rtl;
    text-align: center;
    font-size: 10pt;
}

.td_sum{
    border: solid gray;
    width: 50%;
    border-width: 0px 0px 1px 0px ;
    border-collapse: collapse;
}

.label {
    display: inline-block;
}

.label_info {
    width: 30%;
    display: inline-block;
}

#block_container {
    display: flex;
}

.bloc
{
    display:inline;
}

.bloc_info
{
    width: 45mm;
    direction: rtl;
}

.fact {
    height: 12cm;
    width: 10cm;
    min-width: 10cm;
    min-height: 12cm;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}